<form class="ui stacked segment form" action="/dashboard/addproperty" method="POST">
  <div class="three fields">
    <div class="field">
    <label>Location</label>
    <input placeholder="Address" type="text" name="address">
      </div>

  </div>
  <button class="ui blue submit button">Add Property</button>
</form>