<form class="ui stacked segment form" action="/property/{{property.id}}/addReading" method="POST">
  <div class="five fields">
    <div class="field">
      <label>Appliance</label>
      <input placeholder="Appliance" type="text" name="appliance">
      
      <div class="field">
      <label>Usage</label>
      <input placeholder="usage" type="number" name="usage" step="any">
    </div>

    </div>
    <div class="field">
      <label>Rate per Hour</label>
      <select name="rate" type="number" id="rate">
        <option value="0.4327">Electricity at 43.27 cents per kWh - Electric Ireland</option>
        <option value="2">Oil at average of 2ltr per hour</option>
      </select>    
    </div>
    
    
    <div class="field">
      <label>Duration</label>
      <input placeholder="duration" type="number" name="duration" step="any">
    </div>

  </div>
  <button class="ui blue submit button">Add Reading</button>
</form>