<table class="ui table">
  <thead>
    <tr>
      <th>Appliance</th>
      <th>Usage ( W/hr )</th>
    </tr>
  </thead>
  <tbody>
    {{#each property.readings}}
      <tr>
        <td>
          {{appliance}}
        </td>
        <td>
          {{usage}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>