{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    What is Energy Mate?
  </h3>
  <p>
    Energy Mate is a service to give you a better understanding of your home energy expenses to 
    allow you to be better able to control and monitor your expenses using smart devices to give you 
    a better understand of the costs. Using smart devices, it monitors usage and uses the average cost per usage 
    to calculate the energy cost and displays it to you right at you finger tips
  </p>
</section>