{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Energy Mate
  </h1>
  <p>
    Energy Mate is a service to give you a better understanding of your home
    energy expenses to allow you to be better able to control and monitor 
    your expenses using smart devices to give you a better understand of 
    the costs.
    <br>Using smart devices, it monitors usage and uses the 
    average cost per usage to 
    calculate the energy cost and displays it to you right at you finger tips 
    <br>
    <br>
    Please Signup or Login to avail of Energy Mate using the menu above.
  </p>

  <img width=500 src="https://www.powerco.co.nz/-/media/project/powerco/powerco-images/what-we-do/community-partnerships/energymate_logo.jpg?h=554&iar=0&w=992&hash=020F5307D5596A98DF5CB50A2FA7247A">

</section>