{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{property.address}}
  </h2>
  {{> latestreading}}
  {{> listreadings}}
  {{> addreading}}
</section>